In [1]:
### Logistic Regression ###

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
import matplotlib.pyplot as plt

In [5]:
import seaborn as sns

In [6]:
import statsmodels.formula.api as smf

In [7]:
from sklearn.metrics import confusion_matrix

In [8]:
from sklearn.metrics import accuracy_score

In [9]:
import scipy

In [10]:
from sklearn import linear_model

In [11]:
data=pd.read_csv(r"C:\Users\ADMIN\OneDrive\Desktop\datasets\claimants.csv")

In [12]:
data

      CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0           5         0     0.0       1.0       0.0    50.0  34.940
1           3         1     1.0       0.0       0.0    18.0   0.891
2          66         1     0.0       1.0       0.0     5.0   0.330
3          70         0     0.0       1.0       1.0    31.0   0.037
4          96         1     0.0       1.0       0.0    30.0   0.038
...       ...       ...     ...       ...       ...     ...     ...
1335    34100         1     0.0       1.0       0.0     NaN   0.576
1336    34110         0     1.0       1.0       0.0    46.0   3.705
1337    34113         1     1.0       1.0       0.0    39.0   0.099
1338    34145         0     1.0       0.0       0.0     8.0   3.177
1339    34153         1     1.0       1.0       0.0    30.0   0.688

[1340 rows x 7 columns]

In [13]:
data.columns

Index(['CASENUM', 'ATTORNEY', 'CLMSEX', 'CLMINSUR', 'SEATBELT', 'CLMAGE',
       'LOSS'],
      dtype='object')

In [15]:
del data['CASENUM']

In [16]:
data.head(10)

   ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0         0     0.0       1.0       0.0    50.0  34.940
1         1     1.0       0.0       0.0    18.0   0.891
2         1     0.0       1.0       0.0     5.0   0.330
3         0     0.0       1.0       1.0    31.0   0.037
4         1     0.0       1.0       0.0    30.0   0.038
5         0     1.0       1.0       0.0    35.0   0.309
6         0     0.0       1.0       0.0     9.0   3.538
7         0     1.0       1.0       0.0    34.0   4.881
8         1     1.0       1.0       0.0    60.0   0.874
9         1     0.0       1.0       0.0     NaN   0.350

In [17]:
model=smf.logit('ATTORNEY~CLMSEX+CLMINSUR+SEATBELT+CLMAGE+LOSS',data=data).fit()

Optimization terminated successfully.
         Current function value: 0.587523
         Iterations 8

In [18]:
model

In [19]:
model.params

Intercept   -0.199978
CLMSEX       0.432996
CLMINSUR     0.602173
SEATBELT    -0.781079
CLMAGE       0.006487
LOSS        -0.385044
dtype: float64

In [20]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               ATTORNEY   No. Observations:                 1096
Model:                          Logit   Df Residuals:                     1090
Method:                           MLE   Df Model:                            5
Date:                Mon, 17 Aug 2020   Pseudo R-squ.:                  0.1505
Time:                        20:53:48   Log-Likelihood:                -643.92
converged:                       True   LL-Null:                       -758.05
Covariance Type:            nonrobust   LLR p-value:                 2.546e-47
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -0.2000      0.247     -0.810      0.418      -0.684       0.284
CLMSEX         0.4330      0.136      3.191      0.001       0.167       0.699
CLMINSUR       0.6022      0.231      2.606      0.009       0.149       1.055
SEATBELT      -0.7811      0.566     -1.380      0.168      -1.891       0.329
CLMAGE         0.0065      0.003      1.952      0.051   -2.75e-05       0.013
LOSS          -0.3850      0.035    -11.050      0.000      -0.453      -0.317
==============================================================================
"""

In [21]:
(np.exp(model.params))

Intercept    0.818749
CLMSEX       1.541870
CLMINSUR     1.826083
SEATBELT     0.457912
CLMAGE       1.006508
LOSS         0.680421
dtype: float64

In [23]:
pred=model.predict(pd.DataFrame(data[['CLMAGE','CLMSEX','CLMINSUR','SEATBELT','LOSS']]))

In [24]:
pred

0       0.000003
1       0.501679
2       0.576291
3       0.452142
4       0.641570
          ...
1335         NaN
1336    0.427275
1337    0.740790
1338    0.281230
1339    0.682417
Length: 1340, dtype: float64

In [25]:
confusion=confusion_matrix(data['ATTORNEY'],pred>0.5)

In [26]:
confusion

array([[487, 198],
       [262, 393]], dtype=int64)

In [27]:
accuracy=accuracy_score(data['ATTORNEY'],pred>0.5)

In [28]:
accuracy

0.6567164179104478